.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
  position: absolute;
  bottom: -40px;
}
.swiper-container.swiper-container-initialized {
  overflow: unset;
}
.swiper-slide {
  @media (max-width: 575px) {
    width: 100% !important;
  }
}
