.animate {
  animation-name: close;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: none;
  animation-play-state: running;
}
.animated {
  animation-name: openn;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: none;
  animation-play-state: running;
}
.header {
  .carddd {
    width: 190.585px;
    height: 190.585px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.1),
      10px 0px 5px 0px rgba(0, 0, 0, 0.1);

    svg {
      width: 154px;
      max-width: 100%;
    }
  }

  .containerrr {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 1180px;
    margin: 0 auto;
    border: 0;
    .menu {
      display: none !important;
      @media (max-width: 992px) {
        display: block !important;
      }
    }
    .router {
      width: 60%;
      margin-left: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        color: white;
        width: 20%;
        text-decoration: none;
      }
    }
  }
}
@keyframes openn {
  from {
    transform: scale(1);
    visibility: visible;
    height: 40px;
  }

  to {
    height: 190.585px;
  }
}
@keyframes close {
  from {
    transform: scale(1);
    visibility: visible;
  }

  to {
    height: 0;
    padding-top: 40px;
    background: none;
    overflow: hidden;
  }
}
