:local {
  .card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 10px;
    background-color: #ececed;
    .content {
      padding: 15px;
    }
    .img {
      width: 100%;
      min-height: 250px;
      background-size: cover;
      background-position: center;
    }
    h2 {
      font-size: 1.4rem;
      line-height: 1.6rem;
      color: #333;
      margin-top: 10px;
    }
    p {
      font-size: 0.78rem;
      line-height: 0.94rem;
      color: #333;
      padding-top: 10px;
    }
  }
}
